@import "src/assets/styles/variables";

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid $black-alpha-16;
  font-weight: 400;
  background-color: $white;
  height: 84px;

  &::placeholder {
    color: $black-alpha-48;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 65px;
}