@import 'src/assets/styles/variables';

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  color: $black-alpha-48;
  padding: 12px;
  border: 1px solid $black-alpha-16;
  background-color: $white;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &::-ms-expand {
    display: none;
  }
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: $berry-red;
  font-weight: 400;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 35px;
  left: 270px;
  pointer-events: none;
}

.option {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
}