@import 'src/assets/styles/variables';

.group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  display: flex;
  gap: 8px;
}

.name {
  font-weight: 400;
}

.box {
  display: none;
}

.fake {
  display: inline-block;
  width: 16px;
  height: 16px;

  border: 1.5px solid $black-alpha-24;
  position: relative;

  &.radioBox {
    border-radius: 50%;
  }

  &.checkboxBox {
    border-radius: 4px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: .2s;
  }
}

.box:checked + .fake::before {
  opacity: 1;
  display: block;
  text-align: center;
  line-height: 10px;
  font-weight: bold;
}

.box:checked.radioInner + .fake::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5558FA;
}

.box:checked.checkboxInner + .fake::before {
  content: "\2713";
  color: #5558FA;
}