.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantage {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  margin-bottom: 20px;
  cursor: pointer;
}

.buttonIcon {

}