@font-face {
  font-family: "TTTravelsRegular";
  src: url("../fonts/TTTravelsRegular.eot");
  src: url("../fonts/TTTravelsRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/TTTravelsRegular.woff") format("woff"),
  url("../fonts/TTTravelsRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TTTravelsMedium";
  src: url("../fonts/TTTravelsMedium.eot");
  src: url("../fonts/TTTravelsMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/TTTravelsMedium.woff") format("woff"),
  url("../fonts/TTTravelsMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TTTravelsBold";
  src: url("../fonts/TTTravelsBold.eot");
  src: url("../fonts/TTTravelsBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/TTTravelsBold.woff") format("woff"),
  url("../fonts/TTTravelsBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}