$primary: #333;
$bg-layout-white: #F4F4F5;
$purple: #5558fa;
$black-alpha-48: rgba(0, 0, 0, 0.48);
$black-alpha-8: rgba(0, 0, 0, 0.08);
$black-alpha-16: rgba(0, 0, 0, 0.16);
$black-alpha-4: rgba(0, 0, 0, 0.04);
$black-alpha-24: rgba(0, 0, 0, 0.24);
$alpha-emerald-green-15: rgba(5, 174, 113, 0.15);
$alpha-berry-red-15: rgba(232, 78, 88, 0.15);
$berry-red: rgba(232, 78, 88);
$white-mode-tertiary: #A6A6A6;
$white: #FFFFFF;
$preset-tag-blue-light: #D5E4F7;