@import "../../assets/styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links {
  display: flex;
  gap: 16px;
}

.photo {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 14px 13px;
  background-color: $preset-tag-blue-light;

  span {
    font-size: 36px;
    font-weight: 400;
  }
}

.name {
  font-size: 20px;
  font-weight: 700;
}